In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('data/AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-11,100.410004,101.440002,99.620003,101.430000,93.071877,62353100
1,2014-09-12,101.209999,102.190002,101.080002,101.660004,93.282913,62626100
2,2014-09-15,102.809998,103.050003,101.440002,101.629997,93.255379,61316500
3,2014-09-16,99.800003,101.260002,98.889999,100.860001,92.548836,66908100
4,2014-09-17,101.269997,101.800003,100.589996,101.580002,93.209496,60926500

In [8]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [2]:
!ls data

AAPL.csv